div#splashscreen
  div#splashscreen-image
  div#intro 
    section#about Pearl - An Open Source Health Assistant
    section.sub Available on iOS

  div#intro-content
    p Pearl is an intelligent health assistant and coach that can provide you with helpful information and guidance to improve your well being. 


div#content

  div#docs

    div#PearlAPI 
    div#PearlEngine
    div#PearlClient

  div#ending
