div#content

  div.content-card

    div#icon-holder

    div#text-holder
      div#title-text Pearl
      div#title-sub A conversational health assistant

  div.content-card
    div.description
      | Hi! I'm Pearl. Nice to meet you! As a team, we can work together to get your health to the next level.

  div.content-card
    div.description
      | Diet, exercise, and more medically specific goals - I can do all that! Check me out at the App Store.

  div.card-wrapper
    div.content-card.right
      div.description
        | You mean here?

  div.card-wrapper
    div.content-card.right
      div#app-links
        div#app-ios

  div.content-card
    div.description
      | Yup! Catch you there!

  div.content-card
    div.description
      | (P.S. I'm also open-source :D)