//- div#skip 
  a(href="#") >>

div#content

  div.content-card

    div#icon-holder

    div#text-holder
      div#title-text Pearl
      div#title-sub A conversational health assistant

  div.content-card
    div.description
      | Hi! I'm Pearl. Nice to meet you! Let's work together to get your health to the next level.

  div.content-card
    div.description
      | Move more and eat more greens - I can help you do all that! Meet me at the App Store.

  div.card-wrapper
    div.content-card.right
      div.description
        | You mean here?

  div.card-wrapper
    div.content-card.right
      div#app-links
        a(href="https://www.google.com" target="_blank")
          div#app-ios

  div.content-card
    div.description
      | Yup! Catch you there!

  div.content-card
    div.description
      | (P.S. I'm also 
      a(href="https://github.com/openpearl" target="_blank") open-source 
      | :D)

  div.content-card#ellipsis
    img(src="images/dotdotdot.gif")
