//- div#splashscreen
  //- div#splashscreen-image



div#content

  div#intro 
    h1 Pearl - An Open Source Health Assistant
    p Available on iOS

  div#intro-content
    p Pearl is an intelligent health assistant and coach that can provide you with helpful information and guidance to improve your well being. 

  div#docs

    div#PearlClient
    div#PearlAPI 
    div#PearlEngine

  div#ending
