div#footer
  span.navlink
    a(href='#') Home
  span.navlink
    a(href='mailto:info@goinvo.com') Contact
  span.navlink 
    a(href='https://www.github.com/openpearl' target='_blank') Developers
  span.navlink 
    a(href='html/privacy.html' target='_blank') Privacy
