html
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,300,100,700,500')
  link(rel='stylesheet', href='/style.min.css')
  body
    include ./sidebar

    div#content-wrapper
      include ./content


    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//cdn.rawgit.com/showdownjs/showdown/1.1.0/dist/showdown.min.js")
    script(src="./main.js")