html
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,300,100,700,500')
  link(rel='stylesheet', href='/style.min.css')
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css")

  body
    include ./content
    include ./footer

    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="./main.js")
