#content-wrapper {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  position: relative;
}

#content {
  padding-top: 100px;
  padding-left: 100px;

  max-width: 800px;
}

#content-wrapper::-webkit-scrollbar {
  width: 7px;
}

#content-wrapper::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 7px;
  background-color: transparent;
}

#content-wrapper::-webkit-scrollbar-thumb {
  box-shadow: none;
  border-radius: 7px;
  background-color: $text_secondary;
  @extend %sh1;
}

#ending {
  height: 100px;
}