// Text.

$text_primary: rgba(0,0,0,.87);
$text_secondary: rgba(0,0,0,.54);
$text_disabled: rgba(0,0,0,.26);

$text_light_primary: rgba(255,255,255,1);
$text_light_secondary: rgba(255,255,255,.7);
$text_light_disabled: rgba(255,255,255,.3);

// Theme.
$orange: #F99E33;
$light: #EBF6F0;
$sky: #C7E4EE;